.accordion {
	&__wrapper {
		margin-top: 25px;
		display: none;

	}
}

.accordionActive {
  .accordion__wrapper {
    display: block;
  }
}


.accordion {

	&__wrapper {
	}
}
.btnArrow {

	&__text {
	}

	&__icon {
	}
}
