.addCard {
	height: 200px;
	max-width: 270px;
	width: 100%;
	overflow: hidden;
	background-color: var(--green);
	border-radius: 10px;

	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	cursor: pointer;
	transition: background-color 220ms ease-in-out;

	@include hover {
		background-color: var(--light-green);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	}

	&:active {
		scale: 0.97;
	}

	&__icon {
		margin-bottom: 15px;
		width: 26px;
		height: 26px;
		fill: var(--white);
	}

	&__text {
		color: var(--white);
	}
}
