.field {
	min-width: 150px;
	&__wrapper {
		position: relative;
		.input {
			padding-right: 30px;
		}
	}
	&__title {
		display: block;
		margin-bottom: 10px;
		padding-left: 10px;

		color: var(--black);
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 100%;
	}
}

.input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--gray);
	padding: 10px;

	color: var(--black);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.5px;

	&::placeholder {
		color: var(--gray);
		text-transform: none;
	}
}

.input::-webkit-input-placeholder {
	text-transform: none !important;
}

.input:-moz-placeholder {
	text-transform: none !important;
}

.input::-moz-placeholder {
	text-transform: none !important;
}

.input:-ms-input-placeholder {
	text-transform: none !important;
}

.show {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 1;
	transform: translateY(-50%);
	user-select: none;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		width: 30px;
		height: 30px;

		border-radius: 50%;
		background-color: rgba(144, 202, 249, 0.2);
		scale: 0;
		transition: scale 150ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:focus-visible {
		outline: none;

		&::before {
			scale: 1;
		}
	}

	@include hover {
		&::before {
			scale: 1;
		}
	}

	&:active {
		scale: 0.94;
		&::before {
			scale: 1;
		}
	}
}

.helperText {
	display: none;

	padding-left: 10px;
	margin-top: 10px;
	color: var(--red);

	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 133.33%;
}

// State active
.active {
	.input {
		border: 1px solid var(--green);
		&:focus {
			outline: 1px solid var(--green);
		}
	}
	.title {
		color: var(--green);
	}
	.eye {
		fill: var(--green);
	}
}
// State checked
.checked {
	.input {
		border: 1px solid var(--black);
	}
	.eye {
		fill: var(--green);
	}
}
// State error
.error {
	.input {
		border: 1px solid var(--red);
		caret-color: var(--red);
		&:focus {
			outline: 1px solid var(--red);
		}
	}
	.title {
		color: var(--red);
	}
	.eye {
		fill: var(--red);
	}
	.helperText {
		display: block;
	}
}
