.profile {
	display: flex;
	align-items: center;
	gap: 15px;
	&__name {
		color: #000;
		@media screen and (max-width: 576px) {
			display: none;
		}
	}

	&__icon {
		display: grid;
		place-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #82ebd8;
		overflow: hidden;
		color: var(--white);
		@media screen and (max-width: 576px) {
			width: 40px;
			height: 40px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
