.search {
	position: relative;
	max-width: 300px;
	width: 100%;
	min-width: 120px;
	&__icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 15px;
		fill: var(--black);
	}

	&__input {
		width: 100%;
		padding: 7px 20px 7px 50px;
		border-radius: 5px;
		border: 1px solid var(--gray);
		background-color: var(--white);

		color: var(--black);

		&::placeholder {
			color: var(--gray);
		}
	}
}

.search_sm {
	.search__icon {
		left: 5px;
	}
	.search__input {
		border-radius: 2px;
		background-color: #f1f1f1;
		padding: 0 5px 0px 35px;
		line-height: 150%;
		letter-spacing: 0.5px;
	}
}
