/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
}


/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.switch__slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	border: 1px solid var(--light-green);
	transition: 0.4s;
	border-radius: 30px;
}

.switch__slider:before {
	position: absolute;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 50%;

	background-color: var(--light-green);
	transition: 0.4s;
}

input:checked + .switch__slider {
	background-color: var(--green);
}

input:focus + .switch__slider {
	box-shadow: 0 0 5px var(--light-green);
}

input:checked + .switch__slider:before {
	transform: translateY(-50%) translateX(13px);
	background-color: var(--white);
}
