.testCard {
	display: flex;
	flex-direction: column;
	justify-content: center;

	cursor: pointer;

	height: 200px;
	max-width: 270px;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid var(--gray);
	background-color: var(--white);
	padding: 20px;

	transition:
		background-color 220ms ease-in-out,
		box-shadow 220ms ease-in-out;

	text-align: left;

	@include hover {
		background-color: #f9fffd;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
		.testCard__title {
			color: var(--green);
		}
	}

	&:active {
		scale: 0.97;
	}

	&__title {
		margin-bottom: 10px;
		color: var(--black);
		transition: color 220ms ease-in-out;
		@include text-shorten(5);
	}

	&__description {
		color: var(--gray);
		font-size: 12px;
		@include text-shorten(3);
	}
}
