body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* width */
.customScroll::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb {
	background-color: #d4d4d4;
	border-radius: 2px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1;
}

.logo {
	flex-shrink: 0;
	&__img {
		height: 48px;
		width: 204px;
		@media screen and (max-width: 992px) {
			width: 130px;
			height: 30px;
		}
	}
}

.container {
	margin: 0 auto;

	max-width: 1750px;
	padding: 0 15px;
}

// on open some modals
.disable-scroll {
	overflow: hidden !important;
}

// Border on hover
.border-bottom-line {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;

		height: 1px;
		width: 100%;

		background: #000;
		border-radius: 5px;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;

		// transform-origin: right bottom;
		transform-origin: center;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			// transform-origin: left bottom;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.btn-reset {
	padding: 0;
	cursor: pointer;

	font: inherit;
	color: inherit;
	border: none;
	background-color: transparent;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fullWidth {
	max-width: 100% !important;
	width: 100% !important;
}
