:root {
	--burger-default: #222;
	--burger-active: #222;

	--black: #1b1b1b;
	--green: #1b9c6a;
	--light-green: #67c09e;
	--red: #ec2020;
	--gray: #afafaf;
	--white: #fff;
	--dark-gray: #343735;
}

$breakpoints: (
	'xs': 400px,
	'sm': 544px,
	'md': 768px,
	'lg': 992px,
	'xl': 1280px,
	'xxl': 1440px,
);

$burgerIndex: 4;
$mobileMenuIndex: 3;
$overlayIndex: 2;
