.testList {
	padding-top: 100px;
	@media screen and (max-width: 992px) {
		padding-top: 50px;
	}
	&__top {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
		@media screen and (max-width: 575px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__search {
		max-width: 260px;
		width: 100%;
		@media screen and (max-width: 575px) {
			max-width: 100%;
		}
	}

	&__title {
		flex-shrink: 0;
		color: var(--black);
		font-size: 45px;
		font-weight: 700;
		@media screen and (max-width: 992px) {
			font-size: 25px;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, 270px);
		gap: 18px;

		max-height: 500px;
		overflow: auto;
		padding-bottom: 100px;
		padding-top: 20px;
	}
}
