<div class="dropdown">
	<div class="dropdown__title">Some Title</div>

	<div class="dropdown__inner">
		<button class="dropdown__toggle">
			<input
				tabindex="-1"
				type="text"
				class="dropdown__input"
				placeholder="Не выбрано"
				readonly
				value=""
			/>
			<svg aria-hidden="true" tabindex="-1" class="dropdown__icon">
				<use href="./assets/img/svg/sprite.svg#arrow"></use>
			</svg>
		</button>
	</div>
	<div class="dropdown__popup">
		<div class="dropdown__search search search_sm">
			<svg class="search__icon">
				<use href="./assets/img/svg/sprite.svg#search"></use>
			</svg>
			<input type="text" class="search__input" placeholder="Поиск..." />
		</div>
		<div class="dropdown__menu customScroll">
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
			<button class="dropdown__item">Параметр 1</button>
		</div>
	</div>
</div>
