<div class="popup">
	<button class="popup__close">
		<svg class="popup__closeIcon">
			<use href="./assets/img/svg/sprite.svg#close"></use>
		</svg>
	</button>
	<div class="popup__inner">
		<div class="popup__top">
			<h1 class="title">Создание теста</h1>
		</div>

		<div class="popup__body">
			<div class="field">
				<div class="field__title">Название теста</div>
				<input type="text" class="input" placeholder="Input" value="" />
				<!-- <div class="helperText"></div> -->
			</div>
			<div class="field">
				<div class="field__title">Описание теста</div>
				<input type="text" class="input" placeholder="Input" value="" />
				<!-- <div class="helperText"></div> -->
			</div>
		</div>

		<div class="popup__bottom">
			<button class="btn btn_filled btn_disabled fullWidth">
				Создать тест
			</button>
		</div>
	</div>
</div>
