<button class="testCard">
	<span class="testCard__title"
		>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis in
		ullam asperiores deserunt ducimus totam odio mollitia deleniti inventore,
		reprehenderit natus quidem quia voluptate ea magni rem illum. Adipisci,
		libero.</span
	>
	<span class="testCard__description"
		>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam itaque
		eos provident aspernatur cumque maiores tempora necessitatibus quod adipisci
		eaque, neque dolore id velit fugit corrupti quae aliquid aliquam
		officiis.</span
	>
</button>
